{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}explore{% endblock %}

{% block content %}
    <!-- menu start -->
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
         style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        {% include 'community/components/posts-menu-component.html' %}
    </div>
    <!-- menu end -->

    <!-- latest posts start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1 class="mb-5">latest posts</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for post in latest_post %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
                         style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                {% thumbnail post.image "400x300" crop="center" as im %}
                                    <img class="img-fluid" src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-user text-primary me-2"></i>{{ post.user.username }}</small>
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-heart text-primary me-2"></i>{{ post.liked_by.count }}</small>
                                <small class="flex-fill text-center py-2"><i
                                        class="fa fa-clock text-primary me-2"></i>{{ post.publish | date }}</small>
                            </div>
                            <div class="text-center p-4">
                                <p>{{ post.title }}</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="{% url 'post-detail-page' post.id %}" class="btn btn-sm px-3 btn-primary"
                                       style="border-radius: 30px 30px;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- latest posts end -->

    <!-- posts with the most likes start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1 class="mb-5">posts with the most likes</h1>
            </div>

            <div class="row g-4 justify-content-center">
                {% for post in week_most_liked_posts %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
                         style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                {% thumbnail post.image "400x300" crop="center" as im %}
                                    <img class="img-fluid" src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-user text-primary me-2"></i>{{ post.user.username }}</small>
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-heart text-primary me-2"></i>{{ post.liked_by.count }}</small>
                                <small class="flex-fill text-center py-2"><i
                                        class="fa fa-clock text-primary me-2"></i>{{ post.publish | date }}</small>
                            </div>
                            <div class="text-center p-4">
                                <p>{{ post.title }}</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="{% url 'post-detail-page' post.id %}" class="btn btn-sm btn-primary px-3"
                                       style="border-radius: 30px 30px;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- posts with the most likes end -->

    <!-- posts with the most comments start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1 class="mb-5">posts with the most comments</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for post in week_most_comment_posts %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
                         style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="package-item">
                            <div class="overflow-hidden">
                                {% thumbnail post.image "400x300" crop="center" as im %}
                                    <img class="img-fluid" src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                            <div class="d-flex border-bottom">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-user text-primary me-2"></i>{{ post.user.username }}</small>
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-heart text-primary me-2"></i>{{ post.liked_by.count }}</small>
                                <small class="flex-fill text-center py-2"><i
                                        class="fa fa-clock text-primary me-2"></i>{{ post.publish | date }}</small>
                            </div>
                            <div class="text-center p-4">
                                <p>{{ post.title }}</p>
                                <div class="d-flex justify-content-center mb-2">
                                    <a href="{% url 'post-detail-page' post.id %}" class="btn btn-sm btn-primary px-3"
                                       style="border-radius: 30px 30px;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- posts with the most comments end -->

    <!-- the most active users start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1 class="mb-5">the most active users</h1>
            </div>
            <div class="row g-4">
                {% for profile in most_active_users %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s"
                         style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <a href="{% url 'user-info' profile.user.username %}">
                            <div class="service-item rounded pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x fa-user text-primary mb-4"></i>
                                    <h5>{{ profile.user.username }}</h5>
                                    <p style="color: gray">{{ profile.about | truncatewords:7 }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- the most active users end -->
{% endblock %}
