{% extends 'base.html' %}

{% block title %}users{% endblock %}

{% block content %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h6 class="section-title bg-white text-center text-primary px-3">users</h6>
                <h1 class="mb-5">All users in journey</h1>
            </div>


            <form method="post">{% csrf_token %}
                {% for user in users %}
                    <div>
                        <label>[<a href="{% url 'user-info' user.username %}">{{ user.username }}</a>]
                            <input type="checkbox" name="{{ user.id }}" {% if user.is_active %} checked {% endif %}>
                        </label> activate status : {{ user.is_active }}
                    </div>
                {% endfor %}<br>
                <button class="btn btn-success">save</button>
                <a class="btn btn-warning" href="{% url 'staff-page' %}">Go back</a>
            </form>
        </div>
    </div>
{% endblock %}




