<div style="border: #0c4128 solid 2px; padding: 20px 20px">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h4 style="display: inline-block"><a href="{% url 'articles-page' %}" style="padding: 20px 30px;">articles</a></h4>
        <h4 style="display: inline-block"><a href="{% url 'new-article-page' %}" style="padding: 20px 30px;">new article</a></h4>
        <h4 style="display: inline-block"><a href="{% url 'posts-setting-page' %}" style="padding: 20px 30px;">posts</a></h4>
        <h4 style="display: inline-block"><a href="{% url 'users-setting-page' %}" style="padding: 20px 30px;">users</a></h4>
    </div>
</div>

