<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>isfahan, iran</small>
                <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+98 ********20</small>
                <small class="text-light"><i class="fa fa-envelope-open me-2"></i>z.changani20@gmail.com</small>
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-twitter fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-facebook-f fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-linkedin-in fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                        class="fab fa-instagram fw-normal"></i></a>
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i
                        class="fab fa-youtube fw-normal"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-map-marker-alt me-3"></i>Journey</h1>
            {#                <img src="/static/img/logo.png" alt="Logo">#}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <!-- tabs start -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'home-page' %}"
                   class="nav-item nav-link {% if request.resolver_match.url_name == 'home-page' %}active{% endif %}">Home</a>
                <a href="{% url 'about-page' %}"
                   class="nav-item nav-link {% if request.resolver_match.url_name == 'about-page' %}active{% endif %}">About</a>
                <a href="{% url 'explore-page' %}"
                   class="nav-item nav-link {% if request.resolver_match.url_name == 'explore-page' %}active{% endif %}">Community</a>
                <a href="{% url 'article-list-page' %}"
                   class="nav-item nav-link {% if request.resolver_match.url_name == 'article-list-page' %}active{% endif %}">Articles</a>
                {#                <a href="package.html"#}
                {#                   class="nav-item nav-link {% if request.resolver_match.url_name == '' %}active{% endif %}">Packages</a>#}
                {#                <div class="nav-item dropdown">#}
                {#                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"#}
                {#                       aria-expanded="false">Pages</a>#}
                {#                    <div class="dropdown-menu m-0">#}
                {#                        <a href="destination.html" class="dropdown-item">Destination</a>#}
                {#                        <a href="booking.html" class="dropdown-item">Booking</a>#}
                {#                        <a href="team.html" class="dropdown-item">Travel Guides</a>#}
                {#                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>#}
                {#                        <a href="404.html" class="dropdown-item">404 Page</a>#}
                {#                    </div>#}
                {#                </div>#}
                <a href="{% url 'contact-page' %}"
                   class="nav-item nav-link {% if request.resolver_match.url_name == 'contact-page' %}active{% endif %}">Contact</a>
            </div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'user-info' request.user.username %}" class="btn btn-primary rounded-pill py-2 px-4">Account</a>
            {% else %}
                <a href="{% url 'login-page' %}" class="btn btn-primary rounded-pill py-2 px-4">login</a>
            {% endif %}
        </div>
        <!-- tabs end -->
    </nav>
    <!-- search start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Traveling</h1>
                    <p class="fs-4 text-white mb-4 animated slideInDown">every tip you need for traveling to any
                        country.</p>
                    <form method="get" action="{% url 'search-page' %}"> {% csrf_token %}
                        <div class="position-relative w-75 mx-auto animated slideInDown">
                            <input type="text" name="query" placeholder="example: France"
                                   class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5">
                            <button type="submit"
                                    class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2"
                                    style="margin-top: 7px;">Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- search end -->
</div>
<!-- Navbar & Hero End -->
