{% extends 'base.html' %}

{% block title %} forget password {% endblock %}

{% block content %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h6 class="section-title bg-white text-center text-primary px-3">Forget Password</h6>
                <h1 class="mb-5">change your password</h1>
            </div>
            <div class="row g-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                {{ forget_password_form.email }}
                                <label>Enter Your Email</label>
                            </div>
                        </div>
                        {{ forget_password_form.email.errors }}
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">submit email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
